<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GTFSRawModel -->
      <package
            uri="platform://plugin/no.ntnu.tdt4350.TransportWizard/model/GTFSRaw.ecore"
            class="GTFSRawPackages.GTFSRawPackagesPackage"
            genModel="model/GTFSRawModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GTFSModel -->
      <package
            uri="platform://plugin/no.ntnu.tdt4350.TransportWizard/model/GTFS.ecore"
            class="GTFS.GTFSPackage"
            genModel="model/GTFSModel.genmodel"/>
   </extension>

</plugin>
